@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#player1,
#player2,
#winner, .names {
    display: none;
}